.footer {
   background: linear-gradient(100deg, #0a2850 0%, #071931 100%);
   font-family: "Inter" Arial, sans-serif;
   color: #fff;
   padding: 60px 80px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    width: 105px;
    height: 39px;
}

.footer__column-heading {
    margin: 0 0 20px 0;
}

.footer__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.footer__social-link {
    color:#fff;
    text-decoration: none;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-style: 16px;
    line-height: 20px;
    display: flex;
    align-items: center;
    transition: opacity 0.5s;
    cursor: pointer;
}

.footer__social-link:hover {
    opacity: 70%;
}

.footer__social-icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.footer__copyright {
    margin: 108px 0 0;
    font-family: "Inter" Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-style: 16px;
    line-height: 20px;
}